.banner
  .banner-contents
    .banner-contents__inner
      .banner-contents__inner--top
        %h2.banner-title
          スマホでかんたんフリマアプリ
        %p.banner-publicity
          今すぐ無料ダウンロード!
      .banner-icons
        .banner-icons__mercari-logo
          = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/mercari_icon.png?1857733084", width: "68", height: "68"
        .banner-icons__links
          %ul.banner-icons__links__list
            %li.banner-icons__links__list__ios
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/app-store.svg?1857733084"
            %li.banner-icons__links__list__android
              = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/common/google-play.svg?1857733084"
    .banner-contents__smartphone-image
      = image_tag "https://www-mercari-jp.akamaized.net/assets/img/common/jp/download_content_pc.png?1857733084", width: "300", heigth: "260"
