.wrapper
  .wrapper__bottom
    %a{:herf => "#"} プライバシーポリシー
    %a{:herf => "#"} メルカリ利用規約
    %a{:herf => "#"} 特定商取引に関する表記
    =image_tag "https://i.gyazo.com/13c20169c5519e47f5751462f12c04e6.png", width: 80
    %small @ 2019 Mercari