.header
  .header-innner
    .header-top
      .header-top__logo
        %a href: '#'
          = image_tag 'mercari_logo_horizontal.png', alt: 'mercari', class: 'mercari-logo'
      .header-top__form
    .header-nav
      .header-nav__left
      .header-nav__right