.container
  .header
    .header-inner
      .header-top
        %h1
          %a{href: 'http://www.google.co.jp'}
            = image_tag 'logo.svg', alt: 'logo', height: '36', width: '134', class: ''
        %form.header-form
          %input{name: 'keyword', value:'何かお探しですか？', class:'header-input'}
          = fa_icon "search", class: 'icon-search'
      .header-menu-box
        %nav.left-box
          %ul.left-list
            %li.left-list-li
              %h2
                %a{href: 'http://www.google.co.jp', class:'category-icon'}
                  = fa_icon "list-ul", class: 'category-search'
                  %span
                  カテゴリーから探す
              %ul.header-parent-wrap
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}レディース
                  %ul.header-child-wrap
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}トップス
                      %ul.header-grandchild-wrap
                        %li.header-grandchild
                          %a{href: 'http://www.google.co.jp'}Tシャツ/カットソー(半袖/袖なし)
                        %li.header-grandchild
                          %a{href: 'http://www.google.co.jp'}Tシャツ/カットソー(七分/長袖)
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}ジャケット/アウター
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}パンツ
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}スカート
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}ワンピース  
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}靴
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}ルームウェア/パジャマ
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}レッグウェア
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}帽子
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}バッグ
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}アクセサリー
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}ヘアアクセサリー
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}小物
                    %li.header-child
                      %a{href: 'http://www.google.co.jp'}時計
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}メンズ
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}ベビー・キッズ
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}インテリア・住まい・小物
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}本・音楽・ゲーム
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}おもちゃ・ホビー・グッズ
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}コスメ・香水・美容
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}家電・スマホ・カメラ
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}スポーツ・レジャー
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}ハンドメイド
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}チケット
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}自動車・オートバイ
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}その他
                %li.header-parent
                  %h3
                    %a{href: 'http://www.google.co.jp'}カテゴリー一覧
            %li.left-list-li
              %h2
                %a{href: 'http://www.google.co.jp', class:'brand-icon'}
                  = fa_icon "tag", class: 'brand-search'
                  %span
                  ブランドから探す        
