.header
  .header-inner
    .header-top
      .header-top__logo
        %h1
          = link_to do
            = image_tag 'logo.png', alt: 'mercari', class: 'header-top__logo--size'
      .header-top__form
        %form.top-form
          %input.serch-form{name: 'keyword', placeholder: '何かお探しですか？', type: 'search', value: ''}
          %i.fas.fa-search.serch-icon
    .header-nav
      .header-nav__left
        %ul.nav-list
          %li
            ▼カテゴリーから探す
            %ul
              %li
                レディース
              %li
                メンズ
              %li
                ベビー・キッズ
          %li
            ▼ブランドから探す
            %ul
              %li
                シャネル
              %li
                ナイキ
              %li
                ルイヴィトン
      .header-nav__right
