.header
  .header-inner
    .header-top
      .header-top__logo
        %h1
          = link_to do
            = image_tag 'logo.png', alt: 'mercari', class: 'header-top__logo--size'
      .header-top__form
        %form.top-form
          %input.serch-form{name: 'keyword', placeholder: '何かお探しですか？', type: 'search', value: ''}
    .header-nav
      .header-nav__left
      .header-nav__right