.signup-container
  .registration-header
    = render partial: 'registration-header'
    .progress-bar
      %ol
        %li.progress-bar__list
          会員情報
          .progress-status#done
          .progress-status__bar-right#done
        %li.progress-bar__list
          電話番号認証
          .progress-status#done
          .progress-status__bar-left#done
          .progress-status__bar-right#done
        %li.progress-bar__list
          お届け先住所入力
          .progress-status#done
          .progress-status__bar-left#done
          .progress-status__bar-right#done
        %li.progress-bar__list
          支払い方法
          .progress-status#done
          .progress-status__bar-left#done
          .progress-status__bar-right#done
        %li.progress-bar__list#current-page
          完了
          .progress-status#done
          .progress-status__bar-left#done
  .registration-main
    .registration-main__head
      %h2
        会員登録完了
    .registration-main__inner--center
      %p.registration-main__inner__text
        ありがとうございます。
        %br
        登録が完了しました。
      = link_to root_path do
        %button{type: 'button', class: 'registration-form__btn'}
          メルカリを始める
  = render partial: 'shared/banner'
  = render partial: 'login-footer'
