.header {
  width: 100%;
  height: 100px;
  .header-inner {
    margin: 0 auto;
    width: 1020px;
    height: 97px;
    padding-top: 8px;
    .header-top {
      width: 1020px;
      display: flex;
      &__logo {
        &--size {
          width: 134px;
          height: 36px;
        }
      }
      &__form {
        width: 100%;
        .top-form {
          margin-left: 45px;
          position: relative;
          .serch-form {
            background-color: #f5f5f5;
            border-radius: 4px;
            padding: 0 42px 0 10px;
            width: 100%;
            height: 40px;
            transition: all ease-out.3s;
            font-size: 16px;
          }
          .serch-icon {
            position: absolute;
            top: 0;
            right: 0;
            display: flex;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            justify-content: center;
            width: 40px;
            height: 40px;
            line-height: 40px;
            font-size: 17px;
            background-color: #666666;
            color: #fff;
            cursor: pointer;
            border-radius: 0 4px 4px 0;
          }
        }
      }
    }
    .header-nav {
      display: flex;
      justify-content: space-between;
      &__left {
      	position: relative;
        .nav-list {
          .category{
            display: inline-block;
            padding: 15px 0;
            &__link {
              display: block;
              text-decoration: none;
              .category-icon {
                color: #ea352d;
              }
            }
            .nav-parent {
            	position: absolute;
              top: 50px;
              width: 224px;
              .nav-children {
                display: block;
                cursor: pointer;
                background-color: #fff;
                &__link {
                  display: block;
                  padding: 15px 30px;
                }
              }
            }
          }
          .brand{
            display: inline-block;
            padding: 15px 0;
            margin-left: 10px;
            &__link {
              display: block;
              text-decoration: none;
              .brand-icon {
                color: #ea352d;
              }
            }
            .nav-parent {
            	position: absolute;
              top: 50px;
              width: 224px;
              .nav-children {
                display: block;
                cursor: pointer;
                background-color: #fff;
                &__link {
                  display: block;
                  padding: 15px 30px;
                }
              }
            }
          }
        }
      }
      &__right {
        .nav-login {
          &__list {
            .register {
              display: inline-block;
              padding: 15px 0;
              &__link {
                background: #ea352d;
                border: 1px solid #ea352d;
                color: #fff;
                padding: 8px 10px;
                border-radius: 4px;
                text-decoration: none;
              }
            }
            .login {
              display: inline-block;
              padding: 15px 0;
              &__link {
                border: 1px solid #0099e8;
                padding: 8px 10px;
                transition: all ease-out .3s;
                border-radius: 4px;
                margin-left: 5px;
                text-decoration: none;
              }
            }
          }
          .logined-list {
            height: 54px;
            vertical-align: top;
            .notification {
              display: inline-block;
              padding: 15px 0;
              &__link {
                display: block;
                text-decoration: none;
                color: #000;
                .notification-icon {
                  color: #C0C0C0;
                }
              }
            }
            .todo {
              display: inline-block;
              padding: 15px 0;
              &__link {
                display: block;
                position: relative;
                text-decoration: none;
                color: #000;
                .todo-icon {
                  color: #C0C0C0;
                }
              }
              &__count {
                position: absolute;
                top: -7px;
                left: -83px;
                width: 18px;
                height: 18px;
                border-radius: 50%;
                background: #ea352d;
                text-align: center;
                line-height: 18px;
                font-size: 14px;
                color: #fff;
              }
            }
            .myPage {
              display: inline-block;
              padding: 15px 0;
              &__link {
                display: block;
                text-decoration: none;
                color: #000;
                .myPage-icon {
                  border-radius: 50%;
                  height: 24px;
                  width: 24px;
                  vertical-align: bottom;
                }
              }
            }
          }
        }
      }
    }
  }
}

.nav-children__link {
  text-decoration: none;
  color: #000;
}

.category__link {
  color: #000;
}

.brand__link {
  color: #000;
}

.category:hover > .category__link {
	color: #0066FF
}

.brand:hover > .brand__link {
	color: #0066FF
}

.header-nav__left ul li ul {
  display: none;
}

ul.nav-list > li:hover ul {
  display: block;
}

.nav-children__link:hover {
  background-color: #FF0000;
  color: #fff;
}

.login__link {
  background-color: #fff;
  color: #0099e8;
}

.login:hover > .login__link {
  background-color: #0099e8;
  color: #fff;
}

.pickup-container {
  padding: 40px 0;
  background-color: #f5f5f5;
  &__head {
    font-size: 28px;
    text-align: center;
    font-weight: bold;
  }
  .pickup-items {
    width: 940px;
    margin: 0 auto;
    &__head {
      font-size: 22px;
      text-align: center;
      margin: 26px 11px;
      width: 100%;
      &--link {

      }
    }
    &__box {
      width: auto;
      display: flex;
      &--item {
        margin: 0 0 0 20px;
        width: 213px;
        height: 330px;
        .item-link {
          display: block;
          text-decoration: none;
          color: #333;
          &__image-box {
            width: 213px;
            .item-image {
              width: 100%;
            }
          }
          &__text {
            padding: 16px;
            height: 110px;
            box-sizing: border-box;
            background-color: #fff;
            &--header {
              font-size: 16px;
              font-weight: 400;
              line-height: 1.5;
              overflow: hidden;
              overflow: hidden;
              height: 3em;
              word-break: break-word;
              white-space: normal;
              position: relative;
            }
            &--price {
              display: flex;
              justify-content: space-between;
              .price {
                font-size: 15px;
              }
              .likes {
                font-size: 15px;
              }
            }
            &--tax {
              font-size: 10px;
            }
          }
        }
      }
    }
  }
}

.pickup-items__head--link {
  color: #0099e8;
  text-decoration: none;
}

.pickup-items__head--link:hover {
  opacity: .7;
  text-decoration: underline;
}

.item-link__text--header:after {
  display: block;
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  width: 50%;
  height: 1.5em;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255,255,255,0)), color-stop(72%, #fff));
  background: linear-gradient(to right, rgba(255,255,255,0), #fff 72%);
}

.banner {
  background: url(https://www.mercari.com/jp/assets/img/common/jp/top/download_bg_pc.jpg?6820409);
  background-position: center;
  .banner-contents {
    display: block;
    width: 750px;
    height: 260px;
    margin: 0 auto;
    color: #fff;
    overflow: hidden;
    display: flex;
    justify-content: center;

    &__inner {
      padding: 20px 20px 0 0;
      &--top {
        .banner-title {
          font-size: 24px;
        }
        .banner-publicity {
          font-size: 35px;
          margin: 10px 0 0;
        }
      }
      .banner-icons {
        display: flex;
        margin: 20px 0 0 0;
        &__mercari-logo {

        }
        &__links {
          padding: 14px 0 0 0;
          margin: 0 0 0 20px;
          &__list {
            display: flex;
            &__ios {

            }
            &__android {
              margin: 0 0 0 15px;
            }
          }
        }
      }
    }
    &__smartphone-image {
      width: 300px;
      height: 100%;
    }
  }
}

.footer {
  padding: 0 20px 10px 20px;
  background: #212121;
  color: #fff;
  .footer-inner {
    margin: 0 auto;
    padding: 18px 0 0 0;
    width: 1020px;
    height: 298px;
    display: flex;
    .footer-cell {
      padding: 0 20px 0 0;
      &__head {
        font-size: 16px;
      }
      &__list {
        &--children {
          margin: 10px 0 0;
          .footer-link {
            font-size: 12px;
            color: #C0C0C0;
          }
        }
      }
      .sns-icons {
        display: flex;
        .twitter-icon {
          font-size: 35px;
          color: #fff;
          margin: 0 10px 0 0;
        }
        .facebook-icon {
          font-size: 35px;
          color: #fff;
          padding: 0 10px 0 10px;
        }
      }
    }
    .footer-wide-cell {
      &__head {
        font-size: 16px;
      }
      &__wrapper {
        display: flex;
        .footer-inner-cell {
          padding: 0 20px 0 0;
        }
      }
    }
    .footer-cell-lang {

    }
  }
  &__bottom {
    margin: 30px auto 20px;
    width: 1020px;
    line-height: 0;
    &--2019 {
      font-size: 8px;
      text-align: center;
      vertical-align: sub;
    }
  }
}

.footer-link {
  text-decoration: none;
}

.footer-link:hover {
  text-decoration: underline;
}