.wrapper__main {
  width:700px;
  margin:0 auto;
  background-color:white;

  &__head h2 {
    height:33px;
    padding:32px 16px;
    text-align: center;
    border-bottom:2px solid #f5f5f5;
    font-size:22px;
    font-weight: bold;
    color: #333;
  }

  &__image {
    min-height:223px;
    padding:40px;
    border-bottom:2px solid #f5f5f5;

    h2 {
      font-size:15px;
      font-weight: bold;
    }

    p {
      font-size:13px;
    }

    &__drop-box {
      width: 620px;
      min-height: 140px;
      padding-top:16px;
      background-color:#f5f5f5;
      border:1px dashed gray;

      pre {
        text-align: center;
        padding-top:40px;
      }
    }
  }

  &__item {
    width:620px;
    height: 300px;
    padding:40px;
    border-bottom:2px solid #f5f5f5;

    h3 {
      font-size:15px;
    }

    input {
      width:100%;
      height: 55px;
      border-radius: 5px;
      border: 1px solid #ccc;
      font-size:15px;
      margin: 8px 0 0;
    }

    &__text {
      margin: 40px 0 0;

      textarea {
        height:120px;
        width:600px;
        border-radius: 0;
        border: 1px solid #ccc;
        font-size:15px;
        margin: 8px 0 0;
        padding: 10px;
      }
    }
  }

  &__list {

    &__item {
      width:620px;
      padding: 40px 40px 20px;
      font-weight: bold;
      border-bottom:2px solid #f5f5f5;
    }

    &__name {
      color: #888;

      p {
      float:left;
      font-size:15px;
      }

      span {
        background-color:white;
        color:#0099e8;
      }
    }

    &__select {

      &__center {
        margin-top:35px;
      }

      &__bottom {
        margin-top:35px;
        margin: 40px 0 0;
        .children {
          font-size: 28px;
        }
      }

      &__wrap {
        position: relative;
      }

      &__wrap {
        position: relative;
      }

      &__wrap i {
        position: absolute;
        right: 16px;
        top: 50%;
        transform: translate(0, -50%);
        color: #888;
        font-size: 18px;
        z-index: 5;
      }

      &__box {
        float:right;
        width:400px;

        p {
          font-size:14px;
        }

        select {
          width:400px;
          height: 50px;
          background-color: white;
          border: 1px solid #ccc;
          font-weight: lighter;
          margin: 8px 0 0;
          -webkit-appearance: none;
          -moz-appearance: none;
          appearance: none;
          padding: 12px;
        }
      }
    }

    &__delivery {
      width:620px;
      padding: 40px;
      font-weight: bold;
      border-bottom:2px solid #f5f5f5;
    }

    &__name {
      font-size: 80%;
    }

    &__price {
      width:620px;
      height: 210px;
      padding: 40px;
      font-weight: bold;
      border-bottom:2px solid #f5f5f5;
      position: relative;

      .wrapper__main__list__select {

        &__box {
        position:absolute;
        right:30px;
        top:20px;
        padding: 25px 0;
        }

        &__top {
          border-bottom:2px solid #f5f5f5;
          position:relative;
          height: 60px;
          line-height: 60px;

          p {
            width: 185px;
            float: left;
          }

          .children {
            float: right;
            font-weight: lighter;
          }

          input {
            height: 45px;
            border-radius:5px;
            border: 1px solid #ccc;
            text-align: right;
            float: right;
            font-weight: lighter;
            width: 150px;
          }
        }

        &__center {
          border-bottom:2px solid #f5f5f5;
          position: relative;
          height: 40px;
          line-height: 10px;

          p {
            float: left;
            font-weight: lighter;
          }

          .children {
            top:-10;
            left:380;
            float: right;
            font-weight: lighter;
          }
        }

        &__bottom {
          position: relative;
          height: 40px;
          line-height: 10px;

          p {
            float: left;
          }

          .children {
            top:-10;
            left:380;
            float: right;
          }
        }
      }
    }
  }

  &__bottom {
    width: 620px;
    height: 248px;
    padding: 40px;
    font-size: 14px;
    position: relative;

    &__red {
      background-color: red;
      width: 618px;
      height: 48px;
      margin-top: 40px;
      color:white;
      input {
        background: none;
        color: white;
        border: none;
      }
    }
    &__grey {
      background-color:#aaa;
      color:white;
      width:227px;
      height: 48px;
      margin-top:24px;
      position: absolute;
      left:calc(calc(700px - 227px) / 2);
      text-align: center;
      line-height: 48px;
    }

    .blue {
      color:#0099e8;
    }
  }
}

.form-require {
  background-color: red;
  color:white;
  padding:3px;
  border-radius: 3px;
  margin-left:3px;
  padding: 3px 4px;
  font-size: 12px;
  font-weight: bold;
}

.form-optional {
  background-color: #ccc;
  color:white;
  padding:3px;
  border-radius: 3px;
  margin-left:3px;
  padding: 3px 4px;
  font-size: 12px;
  font-weight: bold;
}

.hidden {
  display: none;
}

.item-registration__form__input {
  width: 368px;
  margin: 8px 0 0;
  height: 30px;
  padding: 10px 16px 8px;
  border-radius: 4px;
  border: 1px solid #ccc;
  background: #fff;
  line-height: 1.5;
  font-size: 16px;
  font-weight: normal;
}

.item__image__upload {
  display: flex;
  margin-top: 10px;
  &__input-container {
    width: 100%;
    display: block;
    margin-left: 10px;
    background: rgb(245, 245, 245);
    border: 1px dashed rgb(204, 204, 204);
    &__image-label {
      width: 100%;
    }
    &__description {
      height: 170px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.item__image__upload2 {
  display: flex;
  margin-top: 10px;
  display: none;
  &__input-container2 {
    width: 100%;
    display: block;
    margin-left: 10px;
    background: rgb(245, 245, 245);
    border: 1px dashed rgb(204, 204, 204);
    &__image-label {
      width: 100%;
    }
    &__description {
      height: 170px;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
    }
  }
}

.upload-image {
  display:none;
  }

#preview {
  display: flex;
}

#preview2 {
  display: flex;
}

.add_img {
  margin-right: 5px;
}

.img_area {
  height: 120px;
  background-color: #F5F5F5;
}

.btn_wrapper {
  display: flex;
  background-color: #F5F5F5;
  .btn_edit {
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
  }
  .btn_delete{
    display: block;
    width: 60px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-left: 1px solid #eee;
    cursor: pointer;
  }
}

.image {
  width: 120px;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.brand_search_result {
  overflow: auto;
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  max-height: 280px;
  background: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,0.64);
  font-weight: normal;
  &__list {
    cursor: pointer;
    padding: 16px 8px;
    font-size: 14px;
  }
  &__list:hover {
    background: #0099e8;
    color: #fff;
  }
}
