.nav-urls {
  height: 50px;
  border-top: 1px solid #eee;
  &__parent {
    width: 1020px;
    padding: 16px 0;
    margin: 0 auto;
    display: flex;

    .nav-urls__children {
      display: block;
      font-size: 14px;
      &--link {
        .arrow-right-icon {
          padding: 0 10px;
        }
      }
      &--item-name {
        font-weight: bold;
      }
    }
  }
}

.nav-urls__children--link:hover {
  text-decoration: underline;
  opacity: .7;
}

.item-box-container {
  background-color: #f5f5f5;
  padding: 40px 0 0;
  &__item-box {
    width: 700px;
    padding: 24px 40px 40px;
    margin: 0 auto 0;
    box-sizing: border-box;
    background-color: #fff;
    &__item-name {
      font-size: 24px;
      font-weight: bold;
      text-align: center;
    }
    &__contents {
      display: flex;
      justify-content: center;
      margin: 16px 0 0 0;
    }
    &__item-price-box {
      text-align: center;
      height: 50px;
      margin: 24px 0 0 0;
      &__price {
        color: #ea352d;
        font-size: 40px;
        margin: 0 5px 0 0;
        font-weight: 600;
      }
      &__tax {
        font-size: 10px;
      }
      &__shipping-fee {
        font-size: 16px;
      }
    }
    &__item-buy-btn {
      height: 60px;
      line-height: 60px;
      display: block;
      margin: 16px 0 0;
      background-color: #ea352d;
      color: #fff;
      text-align: center;
      font-weight: 600;
      font-size: 24px;
      transition: all ease-out .3s;
    }
    &__item-description {
      padding: 32px 0 0;
      line-height: 1.5;
      font-size: 18px;
      &__text {
        white-space: pre-wrap;
      }
    }
    &__buttons-container {
      
    }
  }
}

.item-detail {
  &__table {
    width: 300px;
    margin: 0 0 0 20px;
    border-collapse: collapse;
    border: 1px solid #f5f5f5;
    font-size: 14px;
    th {
      padding: 8px;
      background-color: #FAFAFA;
    }
    td {
      padding: 8px;
    }
    &__ratings-container {
      display: flex;
      &__item-user-ratings {
        margin: 8px 0 0 0;
        &__good-icon {
          font-size: 17px;
          color: #FF6699;
        }
        &__normal-icon {
          margin: 0 0 0 16px;
          font-size: 17px;
          color: #FF9900;
        }
        &__bad-icon {
          margin: 0 0 0 16px;
          font-size: 17px;
          color: #00CCFF;
        }
      }
    }
  }
}

.slider-container {
  width: 50%;
}

.slider-container img {
  width: 100%;
}

.slick-dots {
  position: absolute !important;
  bottom: 20px !important;
}

.slick-dotted.slick-slider {
  margin-bottom: 5px;
}

.thumbnail-slider {
  display: flex;
  width: 100%;
  &__item {
    width: 75px;
    height: 75px;
    display: block;
    margin: 0 5px 0 0;
  }
  img{
    margin: 0 auto;
  }
}

.item-box-container__item-box__item-buy-btn:hover {
  background-color: #e62017;
  text-decoration: none;
  opacity: 1;
}