.header{
  width: 1020px;
  height:149px;
  display: block;
  position: relative;
  z-index: 1001;
  background: #fff;
  .header-inner{
    width: 700px;
    margin: 0 auto;
    padding: 8px 0 0;
    .header-top{
      display: flex;
      align-items: center;
      h1 a{
        display: block;
        color: #333;
      }
    }
    .header-form{
      position:relative;
      margin-left: 45px;
      width: 100%;
      flex: 1;
      .header-input{
        background: #f5f5f5;
        border-radius: 4px;
        padding: 0 42px 0 10px;
        width: 100%;
        height: 40px;
      }
      .icon-search{
        position: absolute;
        top: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        cursor: pointer;
      }
    }
    .header-menu-box{
      margin: 8px 0 0;
      .left-box{
        float: left;
      }
      nav{ 
        h2{
        font-size: 14px;
        font-weight: 400;
        }
        a{
          color: #333;
        }
        .category-icon{
          font-weight: bold;
          .category-search{
            color: #ea352d;
            font-size: 12px;
            margin-right: 4px;
          }
        }
        .brand-icon{
          font-weight: bold;
          .brand-search{
            color: #ea352d;
            font-size: 12px;
            margin-right: 4px;
          }
        }
        span{
          vertical-align: middle;
        }
      }
      .header-parent-wrap{
        position: absolute;
        top: 70px;
        z-index: 1000;
        background: #fff;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        .header-parent{
          width: 224px;
          h3{
            font-weight: 400;
            font-size: 14px;
            a{
              padding: 0 16px;
              line-height: 44px;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;
              font-size: 14px;
              display: block;
              color: #333;
            }
          }
        }
      }
      .header-child-wrap{
        position: absolute;
        top: 0;
        left: 224px;
        bottom: 0;
        background: #fff;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        .header-child{
          width: 224px;
          a{
            padding: 8px 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            display: block;
            color: #333;
          }
        }
      }
      .header-grandchild-wrap{
        position: absolute;
        top: 0;
        left: 224px;
        bottom: 0;
        background: #fff;
        box-shadow: 0 1px 1px 0 rgba(0,0,0,0.24);
        .header-grandchild{
          width: 320px;
          a{
            padding: 8px 16px;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-size: 14px;
            display: block;
            color: #333;
          }
        }
      }
    }
  }
}

.main-content {
  width:1020px;
  height: 100%;
  margin: 40px auto 0;
  display:block;
  clear: both;
  background: #f5f5f5;
  .list-side{
    float:left;
    width: 280px;
    &__menu li{
      border-top: 1px solid #eee;
    }
    &__menu__item{
      position: relative;
      min-height: 48px;
      display: block;
      padding: 16px;
      background: #fff;
      font-size: 14px;
      color: #333;
      box-sizing: border-box;
    }
    &__menu__item__active{
      position: relative;
      min-height: 48px;
      display: block;
      padding: 16px;
      background: #eee;
      font-size: 14px;
      font-weight: 600;
      color: #333;
      box-sizing: border-box;
      .icon-menu__active{
        position: absolute;
        top: 30%;
        right: 16px;
        color: #333;
        transform: translate(4px);
      }
    }
    .icon-menu{
      position: absolute;
      top: 30%;
      right: 16px;
      color: #ccc;
    }
    &__merpay{
      margin: 40px 0 0;
      font-size: 16px;
      h3{
        font-size: 22px;
      }
      .list-side__menu{
        margin: 8px 0 0;
      }
    }
    &__config{
      margin: 40px 0 0;
      font-size: 16px;
      h3{
        font-size: 22px;
      }
      .list-side__menu{
        margin: 8px 0 0;
      }
    }
  }

  .right-side{
    width: 700px;
    height: 568px;
    float: right;
    padding: 0 0 40px;
    box-sizing: border-box;
    .content{
    height: 568px;
    background: #fff;
    box-sizing: border-box;
      &-header{
        margin: 0;
        padding: 8px 24px;
        text-align: center;
        font-size: 24px;
        line-height: 1.4;
      }
      form{
        height: 518px;
        box-sizing: border-box;
      }
      .profile-header{
        padding: 72px 16px 24px;
        background:url("user-bg.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        text-align: center;
        font-size: 0;
        .my_icon-img{
          display: inline-block;
          overflow: hidden;
          width: 60px;
          height: 60px;
          border-radius: 50%;
          vertical-align: middle;
          }
          &__input{
            width: 220px;
            margin: 0 0 0 8px;
            vertical-align: middle;
            padding: 10px 16px 8px;
            border-radius: 4px;
            border: 1px solid #ccc;
            background: #fff;
            line-height: 1.5;
            font-size: 16px;
            box-sizing: border-box;
          }
        }
      .profile-content{
        height: 362px;
        padding: 40px 16px;
        box-sizing: border-box;
          &__textarea{
            height: 216px;
            display: block;
            width: 100%;
            max-width: 100%;
            min-height: 104px;
            padding: 10px;
            border: 1px solid #ccc;
            background: #fff;
            font-size: 16px;
            line-height: 1.5;
            box-sizing: border-box;
          }
          &__button{
            margin: 16px 0 0;
            background: #ea352d;
            border: 1px solid #ea352d;
            color: #fff;
            display: block;
            width: 100%;
            line-height: 48px;
            font-size: 14px;
            border: 1px solid transparent;
            cursor: pointer;
            text-align: center;
          }
      }
    }
  }
}

.sell-button{
  &__link{
        bottom: 32px;
        right: 32px;
        width: 160px;
        height: 160px;
        font-size: 22px;
        position: fixed;
        z-index: 1000;
        border-radius: 50%;
        background: #ea352d;
        color: #fff;
        text-align: center;
        &__text{
          margin: 32px 0 0;
        }
        .icon-camera{
          margin: 8px 0 0;
          font-size: 54px;
        }
  }
}

html{
  height: 1500px;
}

body {
  position: relative;
  min-height: 100%;
  background: #f5f5f5;
  font-family: 'Source Sans Pro', Helvetica , Arial, '游ゴシック体', 'YuGothic', 'メイリオ', 'Meiryo', sans-serif;
  font-size: 14px;
  color: #333;
  line-height: 1;
}

main {
  display: block;
}

img{
  vertical-align: middle;
}

a{
  text-decoration: none;
}

h2{
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

h3{
  display: block;
  font-size: 1.17em;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

.left-box ul li ul {
  display: none;
}

ul.left-list > li:hover ul {
  display: block;
}

ul.header-parent-wrap > li.header-child:hover ul {
  display: none;
}

li.left-list-li ul li ul li{
  display: none;
}

li.left-list-li ul.header-parent-wrap li:hover ul li{
  display: block;
}

li.left-list-li ul.header-child-wrap li ul li {
  visibility: hidden;
}

li.left-list-li ul.header-child-wrap li:hover ul li {
  visibility: visible;
}

.list-side__menu__item:hover{
  background: #fafafa;
  text-decoration: none;
  opacity: 1;
}

.list-side__menu__item:hover .icon-menu{
  color: #333;
  position: absolute;
  transform: translate(4px);
}
