.purchase {
  text-align: center;
  &__header {
    height: 128px;
    &__logo {
      width: 185px;
      height: 49px;
      margin: 40px 0 0;
    }
  }

  &__confirmation {
    width: 700px;
    margin: 0 auto;
    background: #fff;
    &__head {
      padding: 32px 16px;
      font-size: 22px;
    }
    &__body {
      padding: 24px 12.5% 40px;
      border-top: 1px solid #f5f5f5;
      &__inner {
        max-width: 320px;
        margin: 0 auto;
        &__image {
          &__photo {
            width: 148px;
          }
        }
        &__name {
          margin: 8px 0 0;
          font-size: 16px;
          line-height: 1.5;
        }
        &__item-price {
          margin: 8px 0 0;
          line-height: 1.5;
          font-size: 20px;
        }
        &__item-price span {
          margin: 0 0 0 8px;
          font-size: 14px;
          font-weight: 400;
        }
        &__point {
          background: #ccc;
          margin: 16px 0 0;
          padding: 16px;
          font-size: 14px;
        }
        &__buy-price {
          display: table;
          border-collapse: collapse;
          width: 100%;
          font-size: 28px;
          &__left {
            display: table-cell;
            padding: 16px 0;
            text-align: left;
          }
          &__right {
            display: table-cell;
            padding: 16px 0;
            text-align: right;
            font-size: 20px;
          }
        }
        &__btn {
          margin: 16px 0 0;
          background: #ea352d;
          border: 1px solid #ea352d;
          color: #fff;
          display: block;
          width: 100%;
          line-height: 48px;
          font-size: 14px;
          cursor: pointer;
        }
      }
    }
    &__user {
      
      padding: 40px 12.5%;
      border-top: 1px solid #f5f5f5;
      text-align: left;
      font-size: 14px;
      &__body {
        margin: 8px 0 0;
      }
      &__change {
        text-align: right;
        &__link {
          color: #0099e8;
        }
        &__link i {
          margin: 0 0 0 8px;
          font-size: 10px;
        }
      }
    }
  }
  &__footer {
    width: 456px;
    //height: 220px;
    margin: 0 auto;
    padding: 40px 0;
    font-size: 12px;
    &__menu li {
      display: inline-block;
      margin: 0 0 0 16px;
    }
    &__logo {
      width: 80px;
      height: 65px;
      margin: 40px auto 0;
      &__image {
        width: 80px;
      }
    }
    &__title {
      margin: 8px 0 0;
    }
  }
}

.bold {
  font-weight: bold;
}
