@mixin signup-btn($color, $background) {
  position: relative;
  display: inline-block;
  width: 320px;
  height: 50px;
  font-size: 14px;
  color: $color;
  background-color: $background;
  cursor: pointer;
}

@mixin signup-icon {
  position: absolute;
  left: 16px;
  line-height: 50px;
}

@mixin progress-bar {
  width: 110%;
  height: 2px;
  background-color: $light_gray;
  position: absolute;
  bottom: 5px;
  content: '';
  z-index: -1;
}

@mixin registration-head($top-bottom, $sides) {
  padding: $top-bottom $sides;
  margin: 0;
  border: 1px solid #f5f5f5;
  color: $black;
  font-size: 22px;
  text-align: center;
}

@mixin clearfix {
  &::after {
      content: "";
      display: block;
      clear: both;
  }
}